
.post-listing {
  list-style: none;
  font-size: 1.5em;
  padding-bottom: 1em;
  span.excerpt {
    font-size: 0.7em;
  }
}
.post-listing:not(:last-child) {
  border-bottom: 1px solid black;
}
.post-listing:not(:first-child) {
  margin-top: 1em;
}