---
layout: base.njk
---
<div class="about-content">
    <h2>Connect</h2>
    <ul class="social-list">
        <li>
            <a href="https://social.bitwig.community/@thegoldenpath#" target="_blank">Mastodon</a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UC8xjXCVoTUiSblFHcLCg6SA" target="_blank">Youtube</a>
        </li>
        <li>
            <a href="https://open.spotify.com/user/dan_default" target="_blank">Spotify</a>
        </li>
        <li>
            <a href="https://www.strava.com/athletes/3546987" target="_blank">Strava</a>
        </li>
        <li>
            <a href="https://soundcloud.com/14-below-zero" target="_blank">Soundcloud</a>
        </li>
    </ul>🤨
</div>
