<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/index.css' | safe}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/6f2a8c42bd.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <a href="/">
        <img id="headerImg" src="https://res.cloudinary.com/brauntrutta/image/upload/s--L43KBrpc--/t_200_circle/blog/hand.png" alt="Photo of blog author">
      </a>
      <h1>{{ title }}</h1>

      <nav>
        <a href="/">Blog</a> | <a href="/about">About</a>
      </nav>

    </header>
    <main>

      {{ content | safe}}
    </main>
    <footer>
      <div class="footer-content">
        &copy;{% year %} Daniel Braun |  <a href="http://localhost:8080/feed.xml">RSS Feed&nbsp;<i class="fa-solid fa-square-rss fa-lg"></i></a> | Built with Eleventy {{ eleventy.version }}
      </div>
    </footer>
    <script>
      const myPix = new Array("DSC00939-1.png","tooclose.png","hand.png", "BWSleepy.png");

      function choosePic() {
        const randomNum = Math.floor(Math.random() * myPix.length);
        const baseURL = "https://res.cloudinary.com/brauntrutta/image/upload/s--L43KBrpc--/t_200_circle/blog/";
        document.getElementById("headerImg").src = `${baseURL}${myPix[randomNum]}`;
      }
      choosePic();
    </script>
  </body>
</html>