<ul class="post-tag-list">
    {%- for tag in tags | filterTagList %}
        {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <li>
            <a href="{{ tagUrl }}" class="post-tag">#{{ tag }}</a>
            {%- if not loop.last %}, {% endif %}
        </li>
    {%- endfor %}
</ul>