{% macro figure(filename, alt, caption) %}
{% set source_low = "https://res.cloudinary.com/brauntrutta/image/upload/t_blog-low/v1673798931/blog/" %}
{% set source_med = "https://res.cloudinary.com/brauntrutta/image/upload/t_blog-med/v1673798931/blog/" %}
{% set source_high = "https://res.cloudinary.com/brauntrutta/image/upload/t_blog-high/v1673798931/blog/" %}
  <figure>
      <img src="{{ source_med + filename }}" 
           srcset="{{ source_low + filename }} 400w,
                   {{ source_med + filename }} 800w,
                   {{ source_high + filename }} 1600w"
           sizes="(min-width: 768px) 768px, 100vw"
           alt="{{ alt }}" 
           loading="lazy">
    <figcaption>{{ caption }}</figcaption>
  </figure>
{% endmacro %}