{% macro figure(src, alt, caption) %}
  <figure>
    <a href="{{ src }}">
      <img src="{{ src }}" alt="{{ alt }}" loading="lazy"></a>
    <figcaption>{{ caption }}</figcaption>
  </figure>
{% endmacro %}