@use '../util';
.post-listing {
    list-style: none;
    padding-bottom: 1.2em;
    .post-date {
        display: inline-block;
        font-size: 1rem;
        color: util.$accent-color;
        line-height: 1;
        @media (min-width: util.$small) {
          margin-bottom: 0.7em;
        }
      }
      
    .post-excerpt {
      font-size: 1rem;
    }
    h3 {
      margin-top: 0.7em;
    }
    @media (min-width: util.$small) {
      h3 {
        margin-top: 0;
      }
    }
  }
  .post-listing:not(:last-child) {
    border-bottom: 1px solid ;
  }
  .post-listing:not(:first-child) {
    margin-top: 1.2em;
  }

