@use '../util';

.post-tag-list {
    list-style: none;

    .post-tag {
        font-size: 0.9rem;
        font-weight: 600;
    }

    li {
        display: inline;
    }

    @media (min-width: util.$medium) {
        float: right;
    }
}